{% extends "blog/base.html" %}
{% block content %}
    <!-- Loop through unpublished posts so drafts can be reviewed. -->
    {% for post in posts %}
        <div class="post">
            <p class="date">Created: {{ post.created_date|date:"D M Y" }}</p>
            <h1><a href="{% url 'blog:post_detail' pk=post.pk %}"><div class="postcontent ">{{ post.title }}</div></a></h1>
            <div class="sancreek-regular">{{ post.text|truncatechars:200 }}</div>
        </div>
    {% endfor %}
{% endblock content %}
